@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap");

:root {
    /* COLORS */

    --color-black: #000;
    --color-light-black: #101010;
    --color-dark-grey: #1a1a1a;
    --color-light-grey: #3b3b3b;
    --color-white: #fff;
    --color-transparent: #00000000;
    --color-blue: #3e75c3;
    --color-light-blue: #1E90FF;

    /* FONTS */
    --font-light-body: 1rem;
    --font-body: 1.4rem;
    --font-title: 2rem;
    --font-light-title: 1.5rem;
    --roboto-mono: 'Roboto Mono', monospace;
}

@media screen and (min-width: 0px) {
    /* HEADER */

    html {
        scroll-behavior: smooth;
        -webkit-tap-highlight-color: var(--color-transparent);
        -webkit-text-size-adjust: auto;
    }

    body {
        background-color: var(--color-dark-grey);
    }

    .header_container {
        align-items: center;
        justify-content: space-around;
        background-color: var(--color-black);
        display: flex;
        flex-direction: row;
        height: 10vh;
        position: fixed;
        width: 100%;
        z-index: 2;
    }

    #profile_logo {
        border-radius: 100%;
        height: 40px;
        width: 40px;
    }

    #menu_icon {
        cursor: pointer;
        height: 25px;
        width: 25px;
    }

    .header__menu {
        align-items: center;
        background-color: var(--color-black);
        display: flex;
        flex-direction: column;
        font-family: var(--roboto-mono);
        justify-content: center;
        position: fixed;
        overflow: hidden;
        scroll-behavior: smooth;
        top: 10vh;
        height: 100%;
        width: 100%;
        z-index: 2;
    }
    
    .header__links {
        align-items: center;
        border-bottom: 1px solid var(--color-light-black);
        color: var(--color-white);
        cursor: pointer;
        display: flex;
        height: 65px;
        text-decoration: none;
        justify-content: center;
        padding: 5%;
        width: 100%;
    }
    
    
    /* HOME */

    .home_container {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: space-evenly;
        padding-top: 10vh;
        width: 100%;
    }

    .home__title {
        color: var(--color-white);
        display: flex;
        flex-direction: column;
        font-family: var(--roboto-mono);
        font-size: clamp(0.0rem, var(--font-title), 3rem);
        font-weight: 700;
        height: clamp(1vh, 19vh, auto);
        justify-content: center;
        padding-top: 10vh;
        width: 90%;
    }

    .home__span {
        color: var(--color-blue);
        height: auto;
        width: 100%;
    }

    .home__span::after {
        animation: blinker 0.5s infinite;
        content: '|';
        opacity: 1;
    }

    .github_icon {
        height: 10vh;
        width: 10vw;
    }

    .linkedin_icon {
        height: 10vh;
        padding-left: 2vw;
        width: 10vw;
    }

    .home__image {
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        height: 10vh;
        width: 90%;
    }

    .home__cv {
        align-items: center;
        display: flex;
        flex-direction: column;
        font-family: var(--roboto-mono);
        height: 65vh;
        justify-content: space-around;
        width: 90%;
    }
    
    .button_cv {
        align-items: center;
        background-color: var(--color-light-blue);
        border-radius: 5px;
        box-shadow: 0px 0px 2px 0px var(--color-black);
        color: var(--color-white);
        display: flex;
        font-size: var(--font-light-body);
        font-weight: 600;
        height: 6vh;
        justify-content: center;
        text-align: center;
        text-decoration: none;
        width: 40vw;
    }

    .computer_img {
        height: 70%;
        width: 100%;
    }
    
    /* ABOUT ME */

    .about_me__container {
        align-items: center;
        display: flex;
        flex-direction: column;
        font-family: var(--roboto-mono);
        height: 200vh;
        justify-content: space-around;
        padding-top: 10vh;
        width: 100%;
    }

    .about_me__title {
        color: var(--color-white);
        font-size: var(--font-title);
        font-weight: bold;
        text-align: center;
        width: 90%;
    }
    
    .about_me__text {
        color: var(--color-white);
        font-size: var(--font-body);
        width: 85%;
    }

    .profile_picture {
        border-radius: 10%;
        height: 20%;
        width: 65%;
    }
    
    /* SKILLS */

    .skills_container {
        align-items: center;
        display: flex;
        color: var(--color-white);
        flex-direction: row;
        flex-wrap: wrap;
        font-family: var(--roboto-mono);
        height: 155vh;
        justify-content: space-around;
        padding-top: 10vh;
        width: 100%;
    }

    .skills_title {
        font-size: var(--font-title);
        font-weight: bolder;
        height: 3%;
        text-align: center;
        width: 90%;
    }
    
    .skills_img {
        align-items: center;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        font-size: .8rem;
        font-weight: bolder;
        height: 10%;
        justify-content: space-evenly;
        padding: 3px;
        width: 25%;
    }

    .skills_instruction {
        align-items: center;
        color: var(--color-light-grey);
        display: flex;
        font-family: var(--roboto-mono);
        font-size: var(--font-body);
        height: 20%;
        justify-content: center;
        text-align: center;
        width: 90%;
    }
    
    .skills_more {
        display: flex;
        flex-direction: column;
        height: 22%;
        justify-content: space-evenly;
        width: 90%;
    }

    .skills_more__title {
        font-family: var(--roboto-mono);
        font-size: var(--font-light-title);
        font-weight: 700;
        width: 95%;
    }

    .skills_more__list {
        display: flex;
        flex-direction: column;
        font-size: var(--font-body);
        height: 80%;
        justify-content: space-evenly;
        width: 90%;
    }

    /* PROJECTS */

    .projects_container {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        font-family: var(--roboto-mono);
        height: 300vh;
        justify-content: space-between;
        padding-top: 10vh;
        width: 100%; 
    }

    .projects__title {
        color: var(--color-white);
        font-size: var(--font-title);
        height: 2%;
        text-align: center;
        width: 90%;
    }

    .projects__files {
        align-items: center;
        background-color: var(--color-white);
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        height: 18%;
        justify-content: space-around;
        width: 90%;
    }
    
    #project_img {
        border-radius: 4px;
        height: 40%;
        width: 95%;
    }

    #project_title {
        font-size: 1.3rem;
        text-align: center;
    }

    #project_info {
        font-size: .8rem;
        width: 90%;
    }

    #project_button {
        align-items: center; 
        background-color: var(--color-blue);
        border-radius: 5px;
        color: var(--color-white);
        display: flex;
        height: 10%;
        justify-content: center;
        text-align: center;
        text-decoration: none;
        width: 50%;
    }

    /* CONTACT */

    .contact_container {
        align-items: center;
        color: var(--color-white);
        display: flex;
        font-family: var(--roboto-mono);
        flex-direction: column;
        height: 100vh;
        justify-content: space-evenly;
        padding-top: 10vh;
        width: 100%;
    }

    .input_container {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 13%;
        justify-content: space-evenly;
        width: 90%;
    }
    
    .input_form {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 95%;
        justify-content: space-evenly;
        width: 90%;
    }

    .contact__title {
        font-size: var(--font-title);
        text-align: center;
        width: 90%;
    }

    .contact_inputs {
        border-radius: 5px;
        height: 35%;
        width: 90%;
    }

    .contact_inputs:focus {
        outline: 0;
    }

    .contact_message__input {
        border-radius: 5px;
        height: 70%;
        width: 90%;
    }

    .contact_message__input:focus{
        outline: 0;
    }

    .contact_button {
        background-color: var(--color-blue);
        border: none;
        border-radius: 5px;
        color: var(--color-white);
        cursor: pointer;
        font-family: var(--roboto-mono);
        font-size: var(--font-body);
        height: 5%;
        width: 50%;
    }

    /* FOOTER */

    .footer_container {
        align-content: space-around;
        background-color:var(--color-black);
        color: var(--color-white);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-family: var(--roboto-mono);
        font-size: var(--font-light-body);
        height: 25vh;
        justify-content: center;
        width: 100%;
    }

    .footer_info {
        display: flex;
        flex-direction: column;
        height: 50%;
        justify-content: space-evenly;
        text-align: center;
        width: 100%;
    }

    #footer_info {
        height: 35%;
        font-size: .8rem;
        width: 100%;
    }

    .github_icon__footer {
        height: 5vh;
        padding-left: 2vw;
        width: 10vw;
    }

    .linkedin_icon__footer {
        height: 5vh;
        width: 10vw;
    }
    
    /* ANIMATION */
    
    .header__links:hover{
        background-color: var(--color-dark-grey);
    }
    
    .showMenu {
        right: 0px;
        transition: all 0.5s cubic-bezier(0.42, 0.0, 0.58, 1.0);
    }
    
    .hideMenu {
        right: 360px;
        transition: all 0.5s cubic-bezier(0.42, 0.0, 0.58, 1.0);
    }
    
    span {
        animation: 1s linear infinite;
    }
    
    @keyframes blinker {
        50% {
            opacity: 0;
        }
    }
}

@media screen and (min-width: 360px) {

    .about_me__container {
        height: 165vh;
    }

    .skills_img {
        height: 13%;
    }

    .profile_picture {
        height: 25%;
        width: 60%;
    }

    .projects__files {
        width: 80%;
    }

    #project_title {
        font-size: 1.2rem;
    }

    .hideMenu {
        right: 400px;
    }
}

@media screen and (min-width: 400px) {

    .about_me__container {
        height: 140vh;
    }

    .profile_picture{
        height: 25%;
    }

    .skills_container {
        height: 150vh;
    }
    
    .skills_img {
        height: 13%;
    }

    .projects_container {
        height: 305vh;
    }

    .projects__files {
        height: 16%;
        width: 80%;
    }

    .hideMenu {
        right: 480px;
    }
}

@media screen and (min-width: 480px) {

    .about_me__container {
        height: 115vh;
    }

    .profile_picture {
        height: 30%;
        width: 55%;
    }

    .skills_container {
        height: 140vh;
    }

    .skills_img {
        font-size: 1.1rem;
    }

    .projects__files {
        height: 17%;
    }

    #project_title {
        font-size: 1.6rem;
    }

    #project_info {
        font-size: 0.98rem;
    }

    .hideMenu {
        right: 520px;
    }
}

@media screen and (min-width: 520px) {

    .github_icon {
        width: 9vw;
    }

    .linkedin_icon {
        width: 9vw;
    }

    .profile_picture {
        width: 51%;
    }

    .skills_img {
        height: 15%;
    }

    .projects__files {
        height: 18%;
    }

    #project_img {
        height: 45%;
    }

    #footer_info {
        font-size: 1rem;
    }

    .hideMenu {
        right: 620px;
    }
}

@media screen and (min-width: 620px) {

    .github_icon {
        width: 8vw;
    }

    .linkedin_icon {
        width: 8vw;
    }

    .profile_picture {
        height: 35%;
    }

    .skills_img {
        width: 18%;
    }

    .projects__files {
        width: 70%;
    }

    .hideMenu {
        right: 768px;
    }
}

@media screen and (min-width: 768px) {

    .github_icon {
        width: 6vw;
    }

    .linkedin_icon {
        width: 6vw;
    }

    .profile_picture {
        width: 41%;
    }

    .skills_img {
        width: 16%;
    }

    .projects__files {
        width: 57%;
    }

    .hideMenu {
        right: 1024px;
    }
}

@media screen and (min-width: 1024px) {
    .github_icon {
        width: 4vw;
    }

    .linkedin_icon {
        width: 4vw;
    }

    .header__links {
        padding: 4%;
    }

    .profile_picture {
        width: 31%;
    }

    .skills_img {
        width: 12%;
    }

    .projects_container {
        flex-direction: row;
        height: 220vh;
        justify-content: space-evenly;
    }

    .projects__files {
        height: 28%;
        width: 34%;
    }

    .hideMenu {
        right: 1440px;
    }
}

@media screen and (min-width: 1440px) {
    .home__title {
        font-size: 3rem;
    }

    .header__links {
        padding: 2%;
    }

    .linkedin_icon {
        width: 2vw;
    }

    .github_icon {
        width: 2vw;
    }

    .button_cv {
        width: 30%;
    }

    .profile_picture {
        height: 41%;
        width: 22%;
    }

    .skills_img {
        height: 20%;
        width: 10%;
    }

    .skills_instruction {
        font-size: 1.5rem;
    }

    .skills_more__title {
        font-size: var(--font-title);
    }

    .skills_more__list {
        font-size: var(--font-light-title);
    }

    .projects_container {
        height: 240vh;
    }

    .projects__files {
        height: 24%;
        width: 34%;
    }

    #project_title {
        font-size: 2rem;
    }

    #project_info {
        font-size: 1.4rem;
    }

    .contact_container {
        height: 140vh;
    }

    .contact_inputs {
        width: 70%;
    }

    .contact_message__input {
        width: 70%;
    }

    .contact_button {
        width: 35%;
    }

    #footer_info {
        font-size: 1.1rem;
    }

    .hideMenu {
        right: 1920px;
    }
}

@media screen and (min-width: 1536px) {
    .profile_picture {
        width: 20%;
    }

    .projects__files {
        height: 33%;
        width: 30%;
        margin: 20px;
    }
}

@media screen and (min-width: 1920px) {

    .github_icon {
        width: 2vw;
    }

    .linkedin_icon {
        width: 2vw;
    }

    .about_me__title {
        font-size: 3rem;
    }

    .button_cv {
        width: 30%;
    }

    .profile_picture {
        width: 21%;
    }

    .skills_title {
        font-size: 3rem;
    }

    .skills_img {
        font-size: 1.4rem;
        height: 20%;
    }

    .skills_instruction {
        font-size: 2rem;
    }

    .projects__title {
        font-size: 3rem;
    }

    .projects__files {
        height:34%;
        width: 34%;
        margin: 5px;
    }

    #project_button {
        font-size: 1.5rem;
    }
    
    #project_title {
        font-size: 2.3rem;
    }

    #project_info {
        font-size: 1.4rem;
    }

    .contact__title {
        font-size: 3rem;
    }

    .contact_input__label {
        font-size: 1.5rem;
    }

    .hideMenu {
        right: 2560px;
    }
}

@media screen and (min-width: 2560px) {

    .header__links {
        font-size: 1.5rem;
    }

    .about_me__text {
        font-size: 2rem;
    }

    .profile_picture {
        width: 18%;
    }

    .skills_img {
        font-size: 2rem;
        height: 25%;
    }

    .skills_more__title {
        font-size: 3rem;
    }

    .skills_more__list {
        font-size: 2rem;
    }

    .projects__files {
        width: 30%;
    }

    #project_title {
        font-size: 3rem;
    }

    #project_info {
        font-size: 1.8rem;
    }

    .contact_input__label {
        font-size: 1.8rem;
    }

    .contact_button {
        font-size: 1.8rem;
    }

    #footer_info {
        font-size: 1.7rem;
    }

    .hideMenu {
        right: 3000px;
    }
}