@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap");

:root {
    /* COLORS */

    --color-black: #000;
    --color-light-black: #101010;
    --color-dark-grey: #1a1a1a;
    --color-light-grey: #3b3b3b;
    --color-white: #fff;
    --color-transparent: #00000000;
    --color-blue: #3e75c3;
    --color-light-blue: #1E90FF;

    /* FONTS */
    --font-light-body: 1rem;
    --font-body: 1.4rem;
    --font-title: 2rem;
    --font-light-title: 1.5rem;
    --roboto-mono: 'Roboto Mono', monospace;
}

@media screen and (min-width: 0px) {
    /* HEADER */

    html {
        scroll-behavior: smooth;
        -webkit-tap-highlight-color: var(--color-transparent);
        -webkit-text-size-adjust: auto;
    }

    body {
        background-color: var(--color-dark-grey);
    }

    .header_container {
        align-items: center;
        justify-content: space-around;
        background-color: var(--color-black);
        display: flex;
        flex-direction: row;
        height: 10vh;
        position: fixed;
        width: 100vw;
        z-index: 2;
    }

    #profile_logo {
        border-radius: 100%;
        height: 40px;
        width: 40px;
    }

    #menu_icon {
        cursor: pointer;
        height: 25px;
        width: 25px;
    }

    .header__menu {
        align-items: center;
        background-color: var(--color-black);
        display: flex;
        flex-direction: column;
        font-family: var(--roboto-mono);
        justify-content: center;
        position: fixed;
        overflow: hidden;
        scroll-behavior: smooth;
        top: 9vh;
        transition: 1s;
        height: 100%;
        width: 100%;
        z-index: 2;
    }
    
    .header__links {
        align-items: center;
        border-bottom: 1px solid var(--color-light-black);
        color: var(--color-white);
        cursor: pointer;
        display: flex;
        height: 65px;
        text-decoration: none;
        justify-content: center;
        padding: 25px;
        width: 480px;
    }
    
    
    /* HOME */

    .home_container {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: calc(30vh + 100%);
        justify-content: center;
        width: 100%;
    }

    .home__h1 {
        align-items: flex-end;
        color: var(--color-white);
        display: flex;
        font-family: var(--roboto-mono);
        height: 30vh;
        justify-content: center;
        width: 90%;
    }

    .home__title {
        font-family: var(--roboto-mono);
        font-size: var(--font-title);
        font-weight: 700;
        width: 90%;
    }

    .home__span {
        color: var(--color-blue);
    }

    .home__span::after {
        animation: blinker 0.5s infinite;
        content: '|';
        opacity: 1;
    }

    .github_icon {
        height: 30px;
        padding-left: 21px;
        width: 30px;
    }

    .linkedin_icon {
        height: 30px;
        margin-left: 5px;
        width: 30px;
    }

    .home__image {
        align-items: center;
        display: flex;
        flex-direction: row;
        height: 10vh;
        margin-bottom: 70px;
        width: 90%;
    }

    .home__cv {
        align-items: center;
        display: flex;
        flex-direction: column;
        font-family: var(--roboto-mono);
        height: 65vh;
        justify-content: space-around;
        width: 90%;
    }
    
    .button_cv {
        align-items: center;
        background-color: var(--color-light-blue);
        border-radius: 5px;
        box-shadow: 0px 0px 2px 0px var(--color-black);
        color: var(--color-white);
        display: flex;
        font-size: var(--font-light-body);
        font-weight: 600;
        height: 45px;
        justify-content: center;
        text-decoration: none;
        width: 154px;
    }

    .computer_img {
        height: 300px;
        width: 90%;
    }
    
    /* ABOUT ME */

    .about_me__container {
        align-items: center;
        display: flex;
        flex-direction: column;
        font-family: var(--roboto-mono);
        height: 120vh;
        justify-content: space-around;
        width: 100%;
    }

    .about_me__title {
        color: var(--color-white);
        font-size: var(--font-title);
        font-weight: bold;
    }
    
    .about_me__text {
        color: var(--color-white);
        font-size: var(--font-body);
        width: 85%;
    }

    .profile_picture {
        border-radius: 10%;
        height: 21rem;
        width: 17rem;
    }
    
    /* SKILLS */

    .skills_container {
        align-items: center;
        display: flex;
        color: var(--color-white);
        flex-direction: row;
        flex-wrap: wrap;
        font-family: var(--roboto-mono);
        height: 155vh;
        justify-content: space-around;
        width: 100%;
    }

    .skills_title {
        font-size: var(--font-title);
        font-weight: bolder;
        height: 100px;
        text-align: center;
        width: 100%;
    }
    
    .skills_img {
        align-items: center;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        font-weight: bolder;
        height: 10%;
        justify-content: space-evenly;
        padding: 10px;
        width: 25%;
    }

    .skills_instruction {
        align-items: center;
        color: var(--color-light-grey);
        display: flex;
        font-family: var(--roboto-mono);
        font-size: var(--font-body);
        height: 250px;
        text-align: center;
        width: 90%;
    }
    
    .skills_more {
        display: flex;
        flex-direction: column;
        height: 30vh;
        justify-content: space-evenly;
        width: 90%;
    }

    .skills_more__title {
        font-family: var(--roboto-mono);
        font-size: var(--font-light-title);
        font-weight: 700;
        width: 95%;
    }

    .skills_more__list {
        display: flex;
        flex-direction: column;
        font-size: var(--font-body);
        height: 200px;
        justify-content: space-evenly;
        width: 90%;
    }

    /* PROJECTS */

    .projects_container {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        font-family: var(--roboto-mono);
        height: 300vh;
        justify-content: space-between;
        width: 100%; 
    }

    .projects__title {
        color: var(--color-white);
        font-size: var(--font-title);
        height: 40px;
        text-align: center;
        width: 90%;
    }

    .projects__files {
        align-items: center;
        background-color: var(--color-white);
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        height: 19%;
        justify-content: space-around;
        width: 90%;
    }
    
    #project_img {
        border-radius: 4px;
        width: 95%;
    }

    #project_title {
        font-size: var(--font-light-title);
    }

    #project_info {
        font-size: var(--font-light-body);
        width: 90%;
    }

    #project_button {
        align-items: center; 
        background-color: var(--color-blue);
        border-radius: 5px;
        color: var(--color-white);
        display: flex;
        height: 40px;
        justify-content: center;
        text-decoration: none;
        width: 50%;
    }

    /* CONTACT */

    .contact_container {
        align-items: center;
        color: var(--color-white);
        display: flex;
        font-family: var(--roboto-mono);
        flex-direction: column;
        height: 100vh;
        justify-content: space-evenly;
        width: 100%;
    }

    .input_container {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 150px;
        justify-content: space-evenly;
        width: 90%;
    }
    
    .input_form {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 85vh;
        justify-content: space-evenly;
        width: 100%;
    }

    .contact__title {
        font-size: var(--font-light-title);
    }

    .contact_inputs {
        border-radius: 5px;
        height: 35px;
        width: 90%;
    }

    .contact_inputs:focus {
        outline: 0;
    }

    .contact_message__input {
        border-radius: 5px;
        height: 100px;
        width: 90%;
    }

    .contact_message__input:focus{
        outline: 0;
    }

    .contact_button {
        background-color: var(--color-blue);
        border: none;
        border-radius: 5px;
        color: var(--color-white);
        font-family: var(--roboto-mono);
        font-size: var(--font-body);
        height: 35px;
        width: 50%;
    }

    /* FOOTER */

    .footer_container {
        align-content: space-around;
        background-color:var(--color-black);
        color: var(--color-white);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-family: var(--roboto-mono);
        height: 150px;
        justify-content: center;
        width: 100%;
    }

    #footer_info {
        text-align: center;
        width: 100%;
    }

    #footer_email {
        text-align: center;
        width: 100%;
    }
    
    #footer_medias {
        padding-left: 5px;
        width: 25px;
    }
    
    /* ANIMATION */
    
    .header__links:hover{
        background-color: var(--color-dark-grey);
    }
    
    .showMenu {
        right: 0px;
        transition: all 0.5s cubic-bezier(0.42, 0.0, 0.58, 1.0);
    }
    
    .hideMenu {
        right: 480px;
        transition: all 0.5s cubic-bezier(0.42, 0.0, 0.58, 1.0);
    }
    
    span {
        animation: 1s linear infinite;
    }
    
    @keyframes blinker {
        50% {
            opacity: 0;
        }
    }
}

@media screen and (min-width: 480px) {
    .hideMenu {
        right: 768px;
    }
}

@media screen and (min-width: 768px) {
    .hideMenu {
        right: 1024px;
    }
}

@media screen and (min-width: 1024px) {
    .hideMenu {
        right: 1600px;
    }
}

@media screen and (min-width: 1600px) {
    .hideMenu {
        right: 2160px;
    }
}